.container {
  width: 400px;
  height: 900px;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
}


// ヘッダー
.header {
  height: 50px;
  min-height: 50px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17a2b8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .containerTitle {
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    margin: 6px 10px;
    resize: none;
    border: none;
    width: calc(100% - 40px);

    /* テキストを折り返さない */
    white-space: nowrap;
    /* コンテナを超えるテキストを非表示 */
    overflow: hidden;
    /* 溢れたテキストに省略記号を表示 */
    text-overflow: ellipsis;

    &:focus {
      color: #666;
      background: #fff;
      outline: none;
      border: none;
    }
  }


  .btnArea {
    position: relative;
    margin-right: 5px;

    .btnSubmenu {
      color: #fff;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: #17a2b8;
      transition: background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: #24cce6;
      }
    }
  }
}

.content {
  max-height: 750px;
  // max-height: calc(84% - 20px);

  // paddingとmargin分はみ出ないように調整
  width: calc(100% - 45px);
  // width: 300px;

  // スクロールバー分paddingを付与
  padding-right: 30px;
  margin-right: 5px;
  margin-left: 10px;
  // margin: 0px 5px 0px 10px;

  overflow-x: hidden;
  overflow-y: auto;

  .card {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.footer {
  // height: 55px;
  // background-color: red;
  margin: 20px 10px 0px;

  .addTaskAreaDispBtn {
    width: 100%;
  }

  .btnAdd {
    color: #666;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    padding: 5px 8px;
    text-align: start;
    vertical-align: middle;
    width: 100%;
    transition: color 0.25s, font-weight 0.25s;

    .icon {
      color: #999;
      display: inline;
      margin-right: 4px;
      vertical-align: middle;
      transition: color 0.25s, font-weight 0.25s;
    }

    &:hover {
      color: #17a2b8;
      font-weight: 700;

      .icon {
        color: #17a2b8;
        font-weight: 900;
      }
    }
  }
}


// タスク追加入力エリア
.addTaskArea {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 5px;
  // padding: 10px;

  .txAdd {
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    background-color: #8aced82e;

    padding: 0px 10px 0px 5px;
    resize: none;
    line-height: 50px;
    height: 50px;

    font-size: 16px;
    font-weight: bold;
    color: #666;

    overflow: hidden;

    &:focus {
      outline: 1px solid #17a2b8;
    }

    outline-offset: -1px;

    &::placeholder {
      color: #CCC;
    }

    /* テキストを折り返さない */
    white-space: nowrap;

    // テキストが溢れた際に「...」を表示
    text-overflow: ellipsis;
  }

  .btnArea {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
  }

  .btnCommit {
    cursor: pointer;

    color: #17a2b8;
    background: #fff;
    border: 1px solid #17a2b8;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    transition: color 0.25s, background 0.25s, border 0.25s;

    &:hover {
      color: #fff;
      background: #17a2b8;
      border: none;
    }
  }
}

.btnClose {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all .2s;
  width: 30px;
  height: 30px;

  &:hover {
    background: #bdbdbd;
  }
}