.container {
  width: 1500px;
  height: 85vh;
  margin: 2.5vh 0;
  padding: 2.5vh 30px;
  display: flex;
  background:green;
  justify-content: start;
  align-items: start;
  column-gap: 10px;
 }

 .btnAdd {
  color:#fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  width: auto;
  padding: 10px 8px;
  text-align: start;
  vertical-align:middle;
  &:hover {
    background: #adadad;
  }
}

.icon {
  color:#fff;
  display: inline;
  margin-right: 10px;
  vertical-align:middle;
}



.txAdd {
  width: calc(100% - 20px);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  resize: none;
  height: 50px;
  white-space: nowrap; /* テキストを折り返さない */
  overflow: hidden; /* コンテナを超えるテキストを非表示 */
  text-overflow: ellipsis; /* 溢れたテキストに省略記号を表示 */
  font-size: 1.1rem;
  font-weight: bold;
  color: #666;
}


.addArea {
  background: #e2e2e2;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}

.addBtnArea {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnCommit {
  cursor: pointer;
  background: #115582;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  color: #fff;
  transition: box-shadow .25s;
  &:hover {
    box-shadow: 5px 5px 4px #8a8a8a;
  }
}
.btnClose {
cursor: pointer;
border: none;
background: transparent;
transition: all .2s;
width: 32px;
height: 32px;
&:hover {
  background:  #bdbdbd;
}
}


