.container,
.shadowContainer {
  // width: calc(100% - 20px);
  width: 100%;
  min-height: 140px;
  // height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 3px solid #17a2b8;
  border-radius: .25rem;
  padding: 5px 10px;
  user-select: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
}

.container {
  background: #ffffff;
}

.shadowContainer {
  background: #c4c4c4;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 5px;
  padding: 4px 0px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.title {
  font-size: 18px;
  margin: 0px;
  /* テキストを折り返さない */
  white-space: nowrap;
  /* コンテナを超えるテキストを非表示 */
  overflow: hidden;
  /* 溢れたテキストに省略記号を表示 */
  text-overflow: ellipsis;
}

.content {
  color: rgb(57, 63, 70);
  font-size: 16px;
  margin: 10px 0px;

  // テキストをフレキシブルボックスにする
  display: -webkit-box;

  // ボックスを垂直方向に並べる
  -webkit-box-orient: vertical;

  overflow: hidden;

  // テキストが溢れた際に「...」を表示
  text-overflow: ellipsis;

  // 長い単語を折り返す
  // word-wrap: break-word;は古い表記なので「overflow-wrap: break-word;」を指定
  overflow-wrap: break-word;

  // 単語の途中の改行を許可する
  word-break: break-all;

  // 設定値
  $dispRowNum: 4; // 表示行数
  $lheight: 1.4em; // 行高

  // 表示する行数を制限する
  -webkit-line-clamp: $dispRowNum;

  line-height: $lheight;
  height: calc($lheight * $dispRowNum);
  max-height: calc($lheight * $dispRowNum);


  // /* テキストを折り返す */
  // white-space: normal;

}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #ececec;
  }

  &:hover {
    .icon {
      color: #626f86;
    }
  }
}

.icon {
  color: #c9c9c9;
  font-size: 15px;
  transition: all 0.3s ease;
}